// Variables
$color-blanco: white;
$color-negro: black;
$color-rosaSalmon: #f89292;
$color-texto: rgb(24, 129, 248);
$fuente1: "roboto";
$fuente2: "Indie Flower", cursive;


// Navbar
.navbar {
    background-color: $color-blanco;
    transition: background-color 0.6s ease;

    &:hover {
        background-color: $color-rosaSalmon;
    }

    .nav-link {
        color: $color-texto;
        transition: color 0.3s ease;

        &:hover {
            color: $color-negro;
        }
    }

    .navbar-brand {
        color: $color-texto;
    }

    .navbar-toggler {
        background-color: blue !important;
    }
}

// Body
.body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: $color-blanco;

    .footer {
        margin-top: auto;
    }
}

// Textos
.texto-card,
.logo,
.logo2,
.titulo3,
.titulo4,
.titulo5 {
    color: $color-texto;
    font-family: $fuente2;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;

    &.texto-card {
        font-size: 40px;
        text-shadow: 0 0 3px $color-negro;
    }

    &.logo,
    &.logo2 {
        font-size: 40px;
        text-shadow: 0 0 3px $color-negro;
    }

    &.titulo3 {
        font-size: 40px;
        text-align: center;
    }

    &.titulo4 {
        font-size: 30px;
        text-align: center;
    }

    &.titulo5 {
        font-size: 30px;
        text-align: center;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
}

.card-text,
.text {
    color: $color-negro;
    font-family: $fuente1;
    font-size: 18px;
    margin: 10px;
}

.cardForm{
    max-width: 800px;
    margin: 30px auto; 
}

.card-color{
    background-color: $color-rosaSalmon;
}


.linea1 {
    border-top: 10px solid blue;
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
}

.imagenes,
.imagenes2 {
    display: flex;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    &.imagenes {
        border-radius: 10px;
    }
}

.container1,
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;

    & img {
        width: 1000px;
        height: 400px;
        overflow: hidden;
        border-radius: 10px;
    }
}

.containerCarousel{
    margin-top: 20px; 
    margin-bottom: 20px; 
    max-width: 1400px;
    margin: 0 auto; 
}

.card2 {
    margin: 20px;
    border-radius: 10px;
}

.card3 {
    border: 1px solid #ced4da;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.animacion {
    transition: transform 0.3s ease, filter 0.6s ease;

    &:hover {
        transform: scale(1.05);
        filter: brightness(120%);
    }
}


.imagen-alta {
    height: 800px; 
    width: auto; 
    border: 1px solid black;
    margin: 20px;
    border-radius: 10px;
}

.imagen-ancha {
    width: 600px; 
    height: auto;
    border: 1px solid black;
    margin: 20px;
    border-radius: 10px;
}
